* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: lightgrey;
    width: 99%;
    margin-top: 30px;
}

h1,
h2 {
    font-size: 30px;
}

form {
    display: flex;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
}

.tobBar {
    width: 100vw;
    float: right;
    text-align: right;
    align-content: right;
}

#questionSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 300px;
    padding: 50px;
}

#questionTitle {
    justify-content: center;
}

#timer {
    float: right;
    text-align: right;
    align-content: right;
    padding: 40px;
}

#score {
    margin-left: 300px;
}

#quizDescription {
    display: flex;
}

#btn0 {
    height: 15px;
}
#btn1 {
    height: 15px;
}
#btn2 {
    height: 15px;
}
#btn3 {
    height: 15px;
}

